* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #000;
  width: 100%;
  height: 100%;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#panel1 {
  background: url(../images/p0.jpg);
}

.panel-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
